# Python venv #
###############
/bin
/lib
/lib64
/include
/man
/share
/pyvenv.cfg
/*.egg-info

# Vim #
#######
.*.un~
.*.swp

# Python #
##########
/pip-selfcheck.json
__pycache__

# Private Data #
################
auth_token.txt
