# Python venv #
###############
/bin
/lib
/lib64
/include
/man
/share
/build
/pyvenv.cfg
/*.egg-info
/.coverage*
/.cache

# Vim #
#######
.*.un~
.*.swp

# Python #
##########
/pip-selfcheck.json
__pycache__
/dist
